# Dependencies
node_modules/
client/node_modules/

# Local databases & uploads
server/data.json
server/uploads/*
!server/uploads/.gitkeep

# Build files
client/dist/

# Env & Logs
.env
*.log
.DS_Store
